PORT=4000
NODE_ENV=development
APP_URL=http://localhost:4000

MONGODB_URI=mongodb://localhost:27017/hpn_mobile

REDIS_URL=redis://localhost:6379
SESSION_SECRET=super-secret-change-me
SESSION_NAME=sid
SESSION_TTL_SECONDS=604800

CLIENT_ORIGIN=http://localhost:5174
